.btn-app{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  mix-blend-mode: normal;
  border-radius: 10px;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: var(--black);
}
.btn-app:hover {
  background: var(--pink_app);
}
.btn-app--primary--solid{
  background: var(--blue_app);
}
.btn-app--secondary--solid{
  background: var(--secondary);
}
.btn-app--medium{
  width: 300px;
  height: 50px;
}
.btn-app--small{
  width: 200px;
  height: 50px;
}
