.main {
  position: relative;
  width: 900px;
  height: 320px;
  left: calc(50% - 900px/2 - 20px);
  top: calc(50% - 320px/2 - 258px);

  background: linear-gradient(180deg, #09262F 51.56%, rgba(165, 166, 189, 0.92) 87.5%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.title {
  color: blueviolet;
}

.frazaEng{
  position: absolute;
  width: 800px;
  height: 80px;
  left: 300px;
  top: 117px;

  background: #FFFFFF;
  border-radius: 20px;
}

.frazaRus{
  position: absolute;
  width: 800px;
  height: 80px;
  left: 300px;
  top: 214px;

  background: #FFFFFF;
  border-radius: 20px;
}

.next{
  position: absolute;
  width: 180px;
  height: 40px;
  left: 910px;
  top: 352px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.perevod{
  position: absolute;
  width: 180px;
  height: 40px;
  left: 310px;
  top: 352px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.ldsRoller {
  display: inline-block;
  position: relative;
  width: 180px;
  height: 180px;
  top: 100px;
}
.ldsRoller div {
  animation: ldsRoller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.ldsRoller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #82BFF8;
  margin: -4px 0 0 -4px;
}
.ldsRoller div:nth-child(1) {
  animation-delay: -0.036s;
}
.ldsRoller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.ldsRoller div:nth-child(2) {
  animation-delay: -0.072s;
}
.ldsRoller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.ldsRoller div:nth-child(3) {
  animation-delay: -0.108s;
}
.ldsRoller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.ldsRoller div:nth-child(4) {
  animation-delay: -0.144s;
}
.ldsRoller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.ldsRoller div:nth-child(5) {
  animation-delay: -0.18s;
}
.ldsRoller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.ldsRoller div:nth-child(6) {
  animation-delay: -0.216s;
}
.ldsRoller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.ldsRoller div:nth-child(7) {
  animation-delay: -0.252s;
}
.ldsRoller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.ldsRoller div:nth-child(8) {
  animation-delay: -0.288s;
}
.ldsRoller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes ldsRoller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
