:root{
  --blue_app: #82BFF8;
  --pink_app: #FFC0CB;
  --black: #000000!important;
}
body{
  margin: 0;
  padding: 0;
}
.form-check{
  font-size: 24px;
}
.form-check-input{
  width: 30px;
  height: 30px;
  position: relative!important;
  top: 6px;
  margin-right: 5px;
}
