.error{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.title{
  color: #82BFF8;
}
.titleRef{
  color: #82BFF8;
}
.titleRef:hover{
  color: #FFC0CB;
}
